
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
 html,

body {
  background: linear-gradient(90deg, #a7ab47, #dee616, #91e89c);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
